.sidebar-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 24px;
    background: transparent;
    border: none;
    padding: 0;
    box-sizing: border-box;
}

.sidebar-button:focus {
    outline: none;
}

.sidebar-button_toggle {
    width: 25px;
    height: 2px;
    background: white;
}